* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e0e8ff;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

header {
  font-family: "Outfit", sans-serif;
  z-index: 1;
  padding: 36px;
  height: 54px;
}

header a {
  color: hsl(215, 51%, 70%);
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
  margin-left: 18px;
  margin-right: 19px;
}

header a:hover {
  color: hsl(245, 75%, 52%);
  cursor: pointer;
  transition: 0.5s ease;
}

.background img {
  width: 100%;
  position: fixed;
  top: -100px;
  z-index: -1;
}

main {
  display: flex;
  width: 30rem;
  margin: 0 auto;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  margin: 0 2em;
  overflow: hidden;
}

.mainImage {
  width: 100%;
}

.middle_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7%;
}

h2 {
  color: hsl(223, 47%, 23%);
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.middle_text_container p {
  font-size: 0.9rem;
  width: 80%;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  line-height: 1.5rem;
}

.plan_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 2.5rem 1.5rem 2.5rem;
  border-radius: 1rem;
  background-color: hsl(225, 100%, 98%);
}

.icon_price {
  align-items: center;
  display: flex;
}

.time_plan {
  margin-left: 1rem;
  line-height: 1.5rem;
}

.type_plan {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

.plan_price {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.change_plan {
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}
.change_plan:hover {
  color: hsla(245, 75%, 52%, 0.7);
  transition: 0.3s ease;
  text-decoration: none;
}
.button {
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 0.5rem;
  background-color: hsl(245, 75%, 52%);
  padding: 0.75rem;
  width: 80%;
  margin: 0 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow: 1rem 1rem 2rem 0rem hsla(245, 75%, 52%, 0.3);
  cursor: pointer;
}

.button:hover {
  background-color: hsla(245, 75%, 52%, 0.7);
  transition: 0.3s ease;
  text-decoration: none;
}

.cancel_order {
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.cancel_order a {
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 700;
  color: hsl(224, 23%, 45%);
}

.cancel_order a:hover {
  color: hsl(223, 47%, 23%);
  transition: 0.5s ease;
}
